<div class="container-fluid">
  <div>
    <div>
      <h1 class="text-white text-center">
        Practice position
      </h1>
    </div>
  </div>
  <hr>
  <div class = "row">
    <!-- table of info about the fen -->
    <div class = "col-md-2 offset-1 text-white bg-dark rounded">
      <div class = "text-left mb-3 mt-3"></div>
      
      <h3>Tags in playlist</h3>
      <ul>
        <% @playlistTags.each do |v| %>
          <div class="text-white">
            <li><%= v %></li>
          </div>
        <% end %>
      </ul>
      
      <hr class="border-white">
      
      <h3>Current position:</h3>
      <p><%= @curPosition.fen%></p>
      
      <hr class="border-white">
      <a href="/trainRandom"><button class="btn btn-primary text-white mb-3">Train another position</button></a>
      <div><a href="/"><button class="btn btn-success text-white">Return to homepage</button></a></div>
    </div>


    <div class="col-md-4 offset-1">
      <table class="chessboard">
        <% (0..7).each do |i| %>
          <tr class="chessboard">
            <% (0..7).each do |j| %>
              <td class="chessboard">
                <%# if rook render rook, etc. %>
                <% if @the_board[i][j] != "blank" %>
                  <img src="<%= @the_images[i][j] %>" class="piece">
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    

    <div class="col-md-2 offset-1 background-color-black my-auto">
      <a href="/"><button class="btn btn-danger btn-block text-white">Practice against the computer!</button></a>

    </div>


    <hr>
  </div>
</div>
